



<div class="card border-1 mt-4">
    <div class="card-header pt-1">
        <h class="card-title m-3"><b>Internal Monthly Job</b></h>
    </div>
    <div class="card-body">
        <div id="target">
            <div class="pt-2">
                <table id="dt_tasks_test" class="table bordered">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th><div class="pl-3"><input class="form-check-input chk_selectall" type="checkbox" /></div></th>
                            <th>Employee Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Manager/internal_job_allocation.js"></script>
}