


.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 0.1em;
    border-radius: 0;
    background: green;
    padding: 0.25rem;
    font-size: 0.688rem;
}
.dataTables_wrapper .dataTables_info {
    font-size: 14px;
    color: black;
    font-weight: 700;
}
.dataTables_wrapper .dataTables_paginate a {
    font-size: 13px;
    color: black;
}



.dataTables_wrapper .dataTables_length label {
    font-size: 14px;
    color: black;
    font-weight: 700;
}

.dataTables_wrapper label {
    font-size: 14px;
    color: black;
    font-weight: 700;
}

.dataTables_wrapper label input {
        font-size: 14px;
        color: black;
        font-weight: 700;
        width: 150px;
        height: 25px;
    }
